 <div *ngIf="!RESPONSE_IS_LOAD()">
    <mat-dialog-content class="mat-typography">
        <mat-card>
            <mat-form-field appearance="outline">
                <mat-label>Podaj nazwę</mat-label>
                <input matInput placeholder="nazwa" [(ngModel)]="name">
            </mat-form-field>
            <div class="error"><mat-error *ngIf="error">{{error}}</mat-error></div>
        </mat-card>
    </mat-dialog-content>
    <div class="action">
        <button mat-stroked-button color="accent" (click)="addGrade()">Dodaj klasę 
            <mat-icon>group_add_outlined</mat-icon>
        </button>
    </div>
</div>
<mat-spinner color="accent" *ngIf="RESPONSE_IS_LOAD()"></mat-spinner>
