<mat-toolbar color="primary">
    <span class="navbar" > <button mat-icon-button matTooltip="Strona główna">
      <mat-icon fontSet="material-icons-outlined" routerLink="/">home</mat-icon></button> Eskarbnik</span>

    <button mat-icon-button>
        <mat-icon fontSet="material-icons-outlined" matTooltip="Napisz do nas" routerLink="/contact">email</mat-icon>
    </button>   
    <button *ngIf="authenticated()" matTooltip="Profil" mat-icon-button
    [matMenuTriggerFor]="menu">
    <mat-icon fontSet="material-icons-outlined" fontWeight="lighter">account_circle</mat-icon>
    </button>
    
</mat-toolbar>
<mat-divider></mat-divider>
<mat-menu class="custom-menu" #menu=matMenu>
  <mat-card>
  <mat-card-header class="header">
    <div mat-card-avatar><mat-icon>account_circle</mat-icon></div>
    <mat-card-title style="font-size: medium;">{{user ? user.username : ""}}</mat-card-title>
    <mat-card-subtitle style="font-size: medium; color: var(--accent);">{{user ? user.email : ""}}</mat-card-subtitle>
  </mat-card-header>
  </mat-card>
  <div mat-menu-item  routerLink="/login" (click)="logout()">
      <mat-icon mat-menu-icon>logout</mat-icon>
      wyloguj
  </div>
  <div mat-menu-item (click)="deleteUser()">
     <mat-icon mat-menu-icon>manage_accounts_outlined</mat-icon>
     usuń konto
  </div>    
</mat-menu>
