
.navbar {
    flex: 1 1 auto;
    font-family: 'Courier New', Courier, monospace;
    color: var(--accent);
}
.account {
    transform: scale(2);
    
}
.mat-toolbar {
    height: 10%;
}
.mat-card {
    background-color: var(--secondary);
}

::ng-deep .custom-menu {
   
   background-color: var(--secondary);
}
.mat-divider {
    background: var(--accent);
}
