<div class="container">
    <div *ngIf="!RESPONSE_IS_LOAD() || DIALOG_IS_OPEN()" class="view-container">
        <div class="submenu">
            <button matTooltip="Wróć" mat-raised-button routerLink="/">
                <mat-icon>reply</mat-icon>
            </button>
            <button matTooltip="Dodaj ucznia" mat-raised-button (click)="addStudent()">
                <mat-icon>person_add</mat-icon>
            </button>
            <mat-form-field class="search" appearance="outline">
                <mat-label></mat-label>
                <input matInput (keyup)="applyFilter($event)" placeholder="szukaj">
                <mat-icon matSuffix>search</mat-icon>
            </mat-form-field>   
        </div>
        <div class="value-card mat-elevation-z8" mat-card>
            <div class="name-card mat-elevation-z8">Klasa {{grade.name}}</div>
            <div class="budget-card mat-elevation-z8" [ngClass]="{'budget-zero': grade.budget == 0, 'budget-positive': grade.budget > 0}">
                <mat-icon class="budget-icon" fontSet="material-icons-outlined">savings</mat-icon> {{grade.budget}} zł.
            </div>
        </div>
        <mat-tab-group class="mat-elevation-z8">
            <mat-tab>
                <ng-template mat-tab-label><mat-icon class="label-icon">group</mat-icon>uczniowie: {{students.length}}</ng-template>
                <app-students #studentsRef [students]="students" (refresh)="refreshGrade()"></app-students>
            </mat-tab>
            <mat-tab><ng-template mat-tab-label><mat-icon class="label-icon">payment</mat-icon>wypłaty {{grade.payOffsSum}} zł.</ng-template>
                <app-pay-offs #payOffsRef [payOffs]="payOffs" (refresh)="refreshGrade()"></app-pay-offs>
            </mat-tab>
        </mat-tab-group>   
        </div>
    <mat-spinner color="accent" *ngIf="RESPONSE_IS_LOAD() && !DIALOG_IS_OPEN()"></mat-spinner>
</div>