.container {
    padding-bottom: 2%;
    width: 100%;
    min-height: 80%;
    background: var(--primary);
}
.view-container {
    width: 100%;
}
.mat-raised-button {
    margin-left: 2%;
    background: var(--secondary);
    color: var(--accent);

}
::ng-deep .mat-tab-list .mat-tab-labels .mat-tab-label-active{
    background: var(--secondary);
    color: var(--accent);
}
::ng-deep .mat-tab-label {
    font-family: Verdana, Geneva, Tahoma, serif;
    font-size: 1.3vmax;
    width: 50%;
}
::ng-deep .mat-form-field-appearance-outline .mat-form-field-outline {
    background: var(--accent);
    border-radius: 5px;
}
.mat-tab-group {
    width: 96%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 2%;
}
.label-icon {
    margin-right: 5px;
}
.mat-spinner {
    padding-top: 60%;
}
