.container {
    min-height: 80%;
    background: var(--primary);
}
.submenu {
    padding-left: 2%;
    padding-right: 2%;
    padding-top: 2%;
    color: var(--primary);
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
.mat-raised-button {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.mat-label- {
    color: var(--secondary);
}
::ng-deep .menu {
    background: var(--secondary);
}
.mat-icon-button {
    width: 50%;
}
.spinner {
    width: 100%;
    padding-top: 10%;
}
::ng-deep .mat-form-field-appearance-outline .mat-form-field-outline {
    background-color: var(--accent);
    border-radius: 5px;
}
