
    <mat-dialog-content class="mat-typography">
        <div mat-dialog-title>Witaj {{user.username}}!</div>
        <p>Dziękujemy za rejestrację! Na podany przez Ciebie adres email <span class="email">{{user.email}}</span> wysłaliśmy link aktywacyjny.
        Kliknij w link aktywacyjny, aby aktywować konto. </p>
        <p>Aktywacja jest konieczna, aby możliwe było zalogowanie się i korzystanie z aplikacji.</p>
          <div class="ok"><button mat-raised-button color="accent" mat-dialog-close>OK</button></div>
    </mat-dialog-content>
       

