::ng-deep  .mat-dialog-container {
    background: var(--secondary) !important;
    padding: 5% !important;
    overflow: hidden !important;
    color: var(--accent);
    max-width: 80%;
    margin-left: auto;
    margin-right: auto;
}
.mat-dialog-content {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.action {
    padding-top: 2rem;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}
.button {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
