<div class="container">
    <mat-card *ngIf="!RESPONSE_IS_LOAD()">
        <mat-card-title class="title">Logowanie</mat-card-title>
            <div class= "form">
                <div class="field">
                    <mat-form-field appearance="outline" hideRequiredMarker="true">
                        <mat-label>podaj login</mat-label>
                        <input matInput type="text" [(ngModel)] = "user.username" required>
                        <mat-icon matSuffix>account_circle</mat-icon>
                    </mat-form-field>
                </div>
                <div class="field">
                    <mat-form-field appearance="outline" hideRequiredMarker="true">
                        <mat-label>podaj hasło</mat-label>
                        <input matInput [type]="hide ? 'password' : 'text'" [(ngModel)] = "user.password" required>
                        <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
                        <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
                        </button>
                    </mat-form-field>
                </div>
            </div>
            <div class = error>
                <mat-error>
                    {{message ? message : ""}}
                </mat-error>
            </div>
            <button mat-raised-button color="primary" (click) = "login()">Zaloguj</button><br><br>
            <a mat-stroked-button color="primary" routerLink="/registration">Nie masz konta? Zarejestruj się.</a>
    </mat-card>
    <mat-spinner color="accent" *ngIf="RESPONSE_IS_LOAD()"></mat-spinner>
</div>


