
.container {
    min-height: 80%;
    padding-top: 8%;
    background-color: var(--primary);
}
.mat-card {
    background: var(--accent);
    margin-right: auto;
    margin-left: auto;
    text-align: center;
    max-width: min-content;
    max-height: min-content;
}
.form {
    width: 100%;
    color: black;
    max-height: min-content;
}
.error {
    font-size: smaller;
    margin-bottom: 1rem;
}
.title {
    color: var(--primary);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin-bottom: 2rem;
}
.mat-raised-button {
    color: var(--accent);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.mat-stroked-button {
    max-width: min-content;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.mat-spinner {
    margin-top: 10%;
    margin-left: auto;
    margin-bottom: auto;
    margin-right: auto;
}