
// Custom Theming for Angular Material
// For more information: https://material.angular.io/guide/theming
@use '~@angular/material' as mat;
// Plus imports for other components in your app.

// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!
@include mat.core();

$primary: (
 Main: var(--primary),
 Light:var(--secondary),
 Dark: #28002f,
 contrast: (
  Main: var(--accent),
  Light: #000,
  Dark: #fff
 ));
$accent: (
 Main: var(--accent),
 Light: #ffc453,
 Dark: #be6500,
 contrast: (
   Main: var(--primary),
   Light: #fff,
   Dark: #fff
  ));
  $warn: (
    Main: var(--warn),
    Light: #ffc453,
    Dark: #be6500,
    contrast: (
      Main: var(--accent),
      Light: black,
      Dark: #fff,
  ));
// Define the palettes for your theme using the Material Design palettes available in palette.scss
// (imported above). For each palette, you can optionally specify a default, lighter, and darker
// hue. Available color palettes: https://material.io/design/color/
$eskarbnik-ui-primary: mat.define-palette($primary, Main, Light, Dark);
$eskarbnik-ui-accent: mat.define-palette($accent, Main, Light, Dark);

// The warn palette is optional (defaults to red).
$eskarbnik-ui-warn: mat.define-palette($warn, Main, Light, Dark);

// Create the theme object. A theme consists of configurations for individual
// theming systems such as "color" or "typography".
$eskarbnik-ui-theme: mat.define-light-theme((
  color: (
    primary: $eskarbnik-ui-primary,
    accent: $eskarbnik-ui-accent,
    warn: $eskarbnik-ui-warn,
  )));

// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.

@include mat.all-component-themes($eskarbnik-ui-theme);

:root {
--accent: rgb(255, 255, 255);
--primary: #5660eb;
--secondary: #7940bb;
--warn: #972727;
--third: rgb(166, 164, 255);
}
