::ng-deep  .mat-dialog-container {
    background: var(--secondary) !important;
    padding: 5% !important;
    overflow: hidden !important;
    color: var(--accent);
    max-width: 70%;
    margin-left: auto;
    margin-right: auto;
    
  }
  .ok {
      width: 100%;
      text-align: right;
      margin-bottom: 2rem;
  }
  .mat-dialog-content {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}