<mat-card class="mat-typography">
    <div class="header">
        <mat-card-title>Witaj {{user.username}}!</mat-card-title>
    </div>
        <mat-card-content>
            <p>Dziękujemy za rejestrację! Na podany przez Ciebie adres email <span class="email">{{user.email}}</span> wysłaliśmy link aktywacyjny.
                Kliknij w link aktywacyjny, aby aktywować konto. </p>
                <p>Aktywacja jest konieczna, aby możliwe było zalogowanie się i korzystanie z aplikacji.</p>
        </mat-card-content>
        <mat-card-actions>
            <div class="ok"><button mat-raised-button color="accent" (click)="close()">OK</button></div>
        </mat-card-actions>
</mat-card>